<div class="activity-component">
  <div class="header">
    <button type="button" class="btn btn-outline-dark btn-sm" [routerLink]="'/activities'"><img src="assets/img/chevron-left.svg"> Activities</button>
    <h4 class="activity-type mb-0">{{ activity?.type }}</h4>
  </div>
  
  <div *ngIf="activity" class="detail-activity">
    <p class="lead">{{ activity.startTime | date: 'HH:mm'}} on {{ activity.startTime | date: 'EEEE, MMMM d, y' }}</p>
    <app-mapbox-map
    [activity]="activity"
    ></app-mapbox-map>
    <h3 class="mt-3">Elevation:</h3>
    <div echarts [options]="elevations" class="demo-chart"></div>
  </div>
</div>
