<div class="activity-component">
  <div class="header">
    <button type="button" class="btn btn-outline-dark btn-sm" [routerLink]="'/activities'"><img src="assets/img/chevron-left.svg"> Activities</button>
    <h4 class="activity-type mb-0">{{ activity?.type ? activity.type : 'Loading' }}</h4>
  </div>
  
  <div *ngIf="activity; else showLoading" class="detail-activity">
    <p class="lead">{{ activity.startTime | date: 'HH:mm'}} on {{ activity.startTime | date: 'EEEE, MMMM d, y' }}</p>
    <app-mapbox-map
    [activity]="activity"
    ></app-mapbox-map>
    <h3 class="el-text mt-3">Elevation</h3>
    
    <div class="elevation-profile profile" *ngIf="elevationData.length > 0">
      <!-- TODO(me): How to reduce xAxis ticks to per/km??  -->
      <ngx-charts-area-chart
        [animations]="false"
        [scheme]="colorScheme"
        [legend]="legend"
        [showXAxisLabel]="false"
        [showYAxisLabel]="false"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="elevationData"
        [yScaleMin]="yScaleMin"
        [showGridLines]="false"
        [xAxisTickFormatting]="formatXAxis"
        [yAxisTickFormatting]="formatYAxis"
      ></ngx-charts-area-chart>  
    </div>

    <h3 class="el-text mt-3">Pace</h3>
    <div class="pace-profile profile" *ngIf="paceData.length > 0">
      <!-- TODO(me): How to reduce xAxis ticks to per/km??  -->
      <ngx-charts-area-chart
        [animations]="false"
        [scheme]="colorSchemePace"
        [legend]="legend"
        [showXAxisLabel]="false"
        [xAxis]="xAxis"
        [yAxis]="false"
        [xAxisLabel]="xAxisLabel"
        [timeline]="timeline"
        [results]="paceData"
        [showGridLines]="false"
        [xAxisTickFormatting]="formatXAxis"
      ></ngx-charts-area-chart>  
    </div>

    <h3 class="el-text mt-3">Splits</h3>
    <div class="splits-profile profile" *ngIf="splitsData.length > 0">
      <ngx-charts-bar-vertical
        [animations]="false"
        [scheme]="colorSchemeSplits"
        [legend]="legend"
        [showXAxisLabel]="false"
        [xAxis]="xAxis"
        [yAxis]="true"
        [yScaleMax]="yScaleMaxPace"
        [xAxisLabel]="xAxisLabel"
        [results]="splitsData"
        [showGridLines]="false"
        [yAxisTickFormatting]="formatPce"
      >
      </ngx-charts-bar-vertical>
    </div>
  </div>
  <ng-template #showLoading>
    <div class="loading">
      <app-loading></app-loading>
    </div>
  </ng-template>
</div>
