.scroll-viewport {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.activity__list-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.options {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .type-filters {
    max-width: 50%;
  }
}

.activity__list {
  margin-top: 1.75rem;
  height: 100%;
  max-width: 50rem;
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.upload-btn {
  align-self: flex-start;
  margin-bottom: 1rem;
}