.upload-container {
  width: 100vw;
  margin-top: 1rem;
  display: flex;
  justify-content: center;

  .upload {
    max-width: 30rem;
    width: calc(100% - 2rem);
    
    display: flex;
    flex-direction: column;
  }

  h1 {
    margin-bottom: 1rem;
  }

  input {
    margin-bottom: 1rem;
  }
}
