<div class="upload-container">
  <div class="upload">
    <h2 id="inputGroupFileAddon01">Upload</h2>
    
    <p>Accepted file types: '.gpx'</p>
    <div class="form-file">
      <input
        type="file"
        name="file"
        id="fileInput"
        class="form-file-input"
        (change)="handleFileInput($event.target.files)"
      >
      
      <label class="form-file-label" for="fileInput">
        <span class="form-file-text">{{
          file?.name ? file.name : 'Select a GPX file to upload'
        }}</span>
        <span class="form-file-button">Browse</span>
      </label>
    </div>
    
    <div class="upload-actions">
      <button
        type="button"
        class="btn btn-outline-secondary back"
        [routerLink]="'/'"
      >Go Back</button>
      <button
        type="button"
        class="btn btn-success"
        (click)="onSubmit()"
        [disabled]="submitDisabled"
      >Submit</button>
    </div>

    <ng-container *ngIf="loading">
      <app-loading></app-loading>
    </ng-container>
  </div>
</div>