.upload-container {
  width: 100vw;
  margin-top: 1rem;
  display: flex;
  justify-content: center;

  .upload {
    max-width: 30rem;
    width: calc(100% - 2rem);
    
    display: flex;
    flex-direction: column;
  }

  .upload-actions {
    display: flex;
    flex-wrap: wrap;

    button.back {
      margin-right: 1rem;
    }
    
    button {
      width: calc(50% - 0.5rem);
      margin-bottom: 1rem;
    }
  }

  h1 {
    margin-bottom: 1rem;
  }

  input {
    margin-bottom: 1rem;
  }
}
