<div class="container">
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Sport</th>
        <th>Time</th>
        <th>Title</th>
        <th>Distance</th>
        <th>Pace</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let activity of activities?.results" [routerLink]="['/activity', '5f0168c70fc212b09aa32e7e']">
        <td scope="row">Run</td>
        <td>
          {{ activity.startTime | date: "EEE, dd/MM/yyyy" }}
        </td>
        <td>{{ activity.title }}</td>
        <td>{{ activity.distance / 1000 | number: "1.2-2" }}km</td>
        <td>{{ activity.pace | pace }}/km</td>
        <td>{{ activity.elapsedTime | duration }}</td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination
    [collectionSize]="activities?.totalCount"
    [page]="page"
    (pageChange)="onPageChange($event)"
    [pageSize]="20"
    [rotate]="true"
    [ellipses]="false"
    [maxSize]="10"
    [boundaryLinks]="true"
  ></ngb-pagination>
</div>
