<cdk-virtual-scroll-viewport [itemSize]="dataSource.total" class="scroll-viewport">
  <div class="activity__list-wrapper">
    <div class="activity__list">
      <button
        *ngIf="!dataSource.isLoading"
        type="button"
        class="btn btn-outline-secondary upload-btn"
        [routerLink]="'/upload'"
      >Upload
        <img src="/assets/img/cloud-upload.svg" alt="Upload new activity" title="Upload">
      </button>
      <ng-container *cdkVirtualFor="let run of dataSource">
        <div *ngIf="run" class="activity__preview">
  
          <div class="header">
            <h3 class="date mb-0">{{ run?.startTime | date: "fullDate" }}</h3>
            <p class="title mb-0">{{ run?.title }}</p>
          </div>
          
          <img
            [src]="'data:image/png;base64,' + run?.image"
            alt="Activity GPS preview"
            class="map-image"
          />
      
          <div class="stats-footer">
            <div class="col">
              <p class="title">Distance</p>
              <p class="value mb-0">{{ run?.distance / 1000 | number: "1.2-2" }}km</p>
            </div>
            <div class="col">
              <p class="title">Pace</p>
              <p class="value mb-0">{{ run?.pace | pace }} min / km</p>
            </div>
            <div class="col">
              <p class="title">Elevation</p>
              <p class="value mb-0">{{ (run?.maxElevation - run?.minElevation) | number: "1.1-1" }} m</p>
            </div>
            <div class="col">
              <p class="title">Elapsed Time</p>
              <p class="value mb-0">{{ run?.elapsedTime | duration }}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="dataSource.isLoading">
    <app-loading></app-loading>
  </ng-container>
</cdk-virtual-scroll-viewport>
